# URL du backend (obligatoire en prod, optionnel en dev)
# Dev local backend sur 8080 :
# VITE_API_BASE_URL=http://localhost:8080
# Backend Docker sur 8081 :
# VITE_API_BASE_URL=http://localhost:8081
# Production :
# VITE_API_BASE_URL=https://api.votredomaine.com
VITE_API_BASE_URL=http://localhost:8080
